:root {
	--app-header-height: 72px; 
	--app-footer-height: 0px;
}

.app-header {
	position: relative;
	z-index: 100;
	background: #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.04);
}

.app-main {
	min-height: calc(100vh - var(--app-header-height) - var(--app-footer-height));
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}

body {
	margin: 0;
}
